<div class="position-relative bg-white d-flex p-0">
  <div class="container-fluid">
    <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
      <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
        <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
          <div class="d-flex align-items-center justify-content-between mb-3">
            <h3 style="text-align: center;">Trouvez votre compte</h3>
          </div>
          <div class="form-floating mb-3">
            <p style="color: black;">Veuillez entrer votre e-mail pour rechercher votre
              compte.</p>
          </div>
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          </div>
          <div class="d-flex">
            <button type="submit" class="btn btn-primary btn-sm me-2 w-50">Rechercher</button>
            <button type="submit" class="btn btn-secondary btn-sm w-50"><a routerLink="login"
                style="color: white;">Annuler</a></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
